<div class="footer-section section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <ul class="footer-navigation inline-list">
                    <li><a class="nav-item" href="#">Trang chủ</a></li>
                    <li><a class="nav-item" href="#">Giới thiệu</a></li>
                    <li><a class="nav-item" href="#">Trong khoảng</a></li>
                    <li><a class="nav-item" href="#">Đội</a></li>
                    <li><a class="nav-item" href="#">Dịch vụ</a></li>
                    <li><a class="nav-item" href="#">Lãnh đạo</a></li>
                    <li><a class="nav-item" href="#">Liên hệ</a></li>

                </ul>

                <ul class="footer-links inline-list">
                    <li>Copyright © 2020 Ski4you <a target="_blank" href="#">Indesign Studio</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <br>
                    <li>
                        <a href="#">
                            Việc quản lý là miễn phí, chúng tôi chỉ cung cấp lời khuyên kỹ thuật về việc
                            sử dụng nó với một khoản phí
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="#">
                            Phần mềm này được cung cấp cho tất cả mọi người miễn phí, chúng tôi chỉ tính
                            phí hỗ trợ kỹ thuật.
                        </a>
                    </li>


                </ul>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>
