<div class="footer-section section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <ul class="footer-navigation inline-list">
                    <li><a class="nav-item" href="/">Trang chủ</a></li>
                    <li><a class="nav-item" href="#About">Về ONES</a></li>
                    <li><a class="nav-item" href="#Solution">Giải pháp</a></li>
                    <li><a class="nav-item" href="#Project">Dự án</a></li>
                    <li><a class="nav-item" href="#Council">Chuyên gia</a></li>
                    <li><a class="nav-item" href="#Recuit">Tuyển dụng</a></li>
                    <li><a class="nav-item" href="#Contact">Liên hệ</a></li>
                </ul>
                <ul class="social-list inline-list">
                    <li><a href="#"><em class="fa fa-facebook"></em></a></li>
                    <li><a href="#"><em class="fa fa-twitter"></em></a></li>
                    <li><a href="#"><em class="fa fa-linkedin"></em></a></li>
                    <li><a href="#"><em class="fa fa-instagram"></em></a></li>
                </ul>
                <ul class="footer-links inline-list">
                    <li>&copy; 2020 by <a target="_blank" href="http://onessolutions.com">ONES Solutions</a></li>
                    <li><a href="#">Chính sách pháp lý</a></li>
                </ul>
            </div><!-- .col  -->
        </div><!-- .row  -->
    </div><!-- .container  -->
</div>