<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html lang="zxx" class="js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Scopri subito il gestionale unico per la tua scuola sci online, dalla promozione fino alla ricezione di prenotazioni.">
    <meta name="keywords" content="Ski4you, gestionale, scuole sci">
    <meta name="author" content="Ski4you - gestionale scuole sci">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="https://ski4you.it/gestionale/favicon.png">
    <!-- Site Title  -->
    <title>Ski4you - gestionale prenotazione online scuole sci</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/Assets/css/vendor.bundle-ver=130.css">
    <!-- Custom styles for this template -->
    <link href="/Assets/css/style-ver=130.css" rel="stylesheet">
    <link href="/Assets/css/theme-royel-teal-ver=130.css"
          rel="stylesheet" id="layoutstyle">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-91615293-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript" charset="UTF-8"
            src="/Assets/css/common.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="/Assets/css/util.js"></script>
</head>

<body class="overflow-scroll" style="overflow: visible;">

    <!-- Start .header-section -->
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    <!-- .header-section -->
    <!-- Start .about-section  -->
    <div id="about" class="about-section section pb-90 white-bg">
       @RenderBody()
        <!--  -->
        <!-- Start .footer-section  -->
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
        <!-- .footer-section  -->
        <!-- Preloader !remove please if you do not want -->
        <div id="preloader" style="display: none;">
            <div id="status" style="display: none;">&nbsp;</div>
        </div>
        <!-- Preloader End -->
        <!-- Google Map Script -->
        <script src="/Assets/css/js"></script>
        <script src="/Assets/css/googleMap-ver=130.js"></script>

        <!-- JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="/Assets/css/jquery.bundle-ver=130.js"></script>
        <script src="/Assets/css/script-ver=130.js"></script>
        <div id="themes_panel" style="right: -470px;">
            <div id="toggle_button">
                <a class="toggle-theme-panel" href="https://ski4you.it/gestionale/index.html#">
                    <i class="fa fa-gear"></i>
                </a> <a class="buy-this-template" target="_blank"
                        href="https://themeforest.net/item/appsland-app-landing-html-template/21131010?ref=softnio">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div id="themes_menu">
                <h4 style="text-transform:uppercase;padding-left:15px;color:#fff;">Color Switcher</h4>
                <div class="segment">
                    <ul class="theme cookie_layout_style">
                        <li>
                            <a class="theme-defalt" title="theme" href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                        <li>
                            <a class="theme-blue" title="theme-blue"
                               href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                        <li>
                            <a class="theme-dark-blue" title="theme-dark-blue"
                               href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                        <li>
                            <a class="theme-orange" title="theme-orange"
                               href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                        <li>
                            <a class="theme-blue-green" title="theme-blue-green"
                               href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                        <li>
                            <a class="theme-purple-red" title="theme-purple-red"
                               href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                        <li>
                            <a class="theme-purple" title="theme-purple"
                               href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                        <li>
                            <a class="theme-royel-teal" title="theme-royel-teal"
                               href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                        <li>
                            <a class="theme-pink-orange" title="theme-pink-orange"
                               href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                        <li>
                            <a class="theme-green-blue" title="theme-green-blue"
                               href="https://ski4you.it/gestionale/index.html#"></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix">
                    <h4 style="text-transform:uppercase;padding-left:15px;color:#fff;">Landing page Demos</h4>
                    <ul class="theme cookie_demo_list list-1">
                        <li> <strong>Style 1</strong></li>
                        <li> <a href="https://ski4you.it/gestionale/index.html">Default</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-particles.html">Particles</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-gradient.html">Gradient</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-slider.html">Slider</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-video.html">Video</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-image.html">Image</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-typing.html">Typing</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-iphone7.html">iPhone7</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-half-header.html">Half Header</a></li>
                    </ul>
                    <ul class="theme cookie_demo_list">
                        <li> <strong>Style 2</strong></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x1.html">Default</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x1-particles.html">Particles</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x1-gradient.html">Gradient</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x1-slider.html">Slider</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x1-video.html">Video</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x1-image.html">Image</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x1-typing.html">Typing</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x1-iphone7.html">iPhone7</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x1-half-header.html">Half Header</a></li>
                    </ul>
                    <ul class="theme cookie_demo_list list-1">
                        <li> <strong>Style 3</strong></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x2.html">Default</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x2-particles.html">Particles</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x2-gradient.html">Gradient</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x2-slider.html">Slider</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x2-video.html">Video</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x2-image.html">Image</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x2-typing.html">Typing</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x2-flat.html">Flat</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x2-half-header.html">Half Header</a></li>
                    </ul>
                    <ul class="theme cookie_demo_list">
                        <li> <strong>Style 4</strong></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x3.html">Default</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x3-particles.html">Particles</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x3-gradient.html">Gradient</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x3-slider.html">Slider</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x3-video.html">Video</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x3-image.html">Image</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x3-typing.html">Typing</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x3-flat.html">Flat</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x3-half-header.html">Half Header</a></li>
                    </ul>
                    <ul class="theme cookie_demo_list list-1">
                        <li> <strong>Style 5</strong></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x4.html">Default</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x4-particles.html">Particles</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x4-gradient.html">Gradient</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x4-slider.html">Slider</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x4-video.html">Video</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x4-image.html">Image</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x4-typing.html">Typing</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x4-flat.html">Flat</a></li>
                        <li> <a href="https://ski4you.it/gestionale/index-x4-half-header.html">Half Header</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- {/literal} END JIVOSITE CODE -->



</body>

</html>