<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONES Solution - Just a second</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="ONES Solutions - Just a second">
    <meta name="keywords" content="ONES, 1SS">
    <meta name="author" content="ONES">
    <link rel="shortcut icon" href="~/Assets/image/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <link href="/Content/css/style-ver=130.css" rel="stylesheet" />

    <script src="~/Content/js/layoutstyle.js"></script>
    <link href="/Content/css/theme-royel-teal-ver=130.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/css/event-nssc.css" />
    <link rel="stylesheet" href="/Content/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/slick/slick-theme.css">

    <script src="~/Content/js/event-nssc.js"></script>
    <script src="~/Content/js/jquery.fancybox.min.js"></script>
    <script async="" src="~/Content/js/analytics.js"></script>
    <script src="/Content/js/jquery.bundle-ver=130.js"></script>
    <script src="/Content/js/script-ver=130.js"></script>
</head>
<body class="overflow-scroll" style="overflow: visible;">
    <!-- Start .header-section -->


    @*@{Html.RenderAction("Header", "Home", new { ID = 1 });}*@
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    <!-- .header-section -->
    <!-- Start .feature-boxes  -->
    @RenderBody()
    <!-- Preloader End -->
    <!-- Start .footer-section  -->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <!-- .footer-section  -->
    <!-- Preloader !remove please if you do not want -->
    <div id="preloader" style="display: none;"><div id="status" style="display: none;">&nbsp;</div></div>
    <script src="/Content/js/jquery.bundle-ver=130.js"></script>
    <script src="/Content/js/script-ver=130.js"></script>
    <script src="/Content/js/slick.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(".regular").slick({
            dots: true,
            infinite: true,
            slidesToShow: 4,
            speed: 300,
        });
    </script>
</body>
</html>
